.register-page {
    min-height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

.register-section, .login-section {
    padding-left: 90px !important;
    padding-right: 90px !important; 
}

.register-section .title, .login-section .title{
    text-decoration: underline;
    font-size: 30px;
}

.register-section Button, .login-section Button {
    width: 120px !important;
}

@media (max-width: 767px) {
    .register-section, .login-section {
        padding-left: 70px !important;
        padding-right: 70px !important; 
        padding-top: 50px;
        padding-bottom: 20px;
    }
}