/*
---------------------------------------------
Global Style
--------------------------------------------- 
*/

html, body {
  position: relative;
  min-height: 100%;
}


/*
---------------------------------------------
Navbar Style
--------------------------------------------- 
*/
.page-navbar {
  font-size: 25px !important;
  background-color: green !important;
  padding-left: 200px !important;
  padding-right: 200px !important;
}

/* Navbar button */
.navbar-text .register-button{
  color: white !important;
  font-size: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

/* Navbar links */
.navbar-nav .nav-item .nav-link{
  color:white;
}

.navbar-nav .nav-item .nav-link:hover{
  color:lightgreen;
}

/* Navbar items */
.navbar-nav .nav-item{
  padding-left: 30px;
}

/*
---------------------------------------------
Footer Style
--------------------------------------------- 
*/
.page-footer {
  background-color: green;
}

.page-footer footer .nav-link{
  font-size: 24px;
  color: white !important;
  height: 60px;
}

/*
---------------------------------------------
Page Style For Mobile
--------------------------------------------- 
*/
@media (max-width: 767px) {
  .page-navbar {
    font-size: 15px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

  .page-navbar .navbar-nav {
    margin-left: 0px !important;
  }

  .navbar-nav .nav-item{
    padding-left: 0px;
  }

  .navbar-text .register-button{
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .page-footer footer .nav-link{
    font-size: 15px;
    height: 40px;
  }
}