/*
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

.main-banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../images/b1.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-banner .try-button {
    margin-top:15px;
}

.main-banner .top-text h2 {
  color: #fff;
  font-size: 45px;
  font-weight: 800;
  text-transform: capitalize;
  margin-top: 15px;
  margin-bottom: 45px;
}

.main-banner .title {
  font-size: 125px;
}

.main-banner .subtitle{
  background: rgba(248, 249, 249,  0.3);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  color: #21618C;
}

@media (max-width: 767px) {
  .main-banner .title {
    font-size: 65px;
  }
}