.results-page{
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    /* text-align: center; */
}

.result-card{
    display: flex;
    box-sizing: border-box;
    width: auto;
    border: 2px solid black;
    margin-top: 15px;
    background-color: gainsboro;
}

.result-card .result-image img{
    padding: 15px;
    width: 400px;
    height: 350px;
    /* height: 200px; */
    /* flex: 10%; */
}

.result-card .result-description{
    padding: 15px;
    width: 100%;
    height: 100%;
    
}

.result-description table{
    line-height: 200%;
    font-size: 25px;
    background-color: gainsboro;
    height: 100%;
}