.results-page{
    margin-top: 150px;
    /* display: table; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
}

.result-card{
    display: flex;
    box-sizing: border-box;
    width: auto;
    border: 2px solid black;
    background-color: gainsboro;
}

.result-card .result-image{
    padding: 15px;
    width: 500px;
    /* height: 200px; */
    /* flex: 10%; */
}

.result-card .result-description{
    padding: 15px;
    width: 100%;
    height: 100%;
    
}

.result-description table{
    line-height: 200%;
    font-size: 25px;
    background-color: gainsboro;
    height: 100%;
}