.results-page{
    margin-top: 150px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
    width: auto;
    /* text-align: center; */
}

.result-image{
    /* padding: 15px; */
    width: 450px;
    height: 250px;
    /* height: 200px; */
    /* flex: 10%; */
}

.results-page .btn{
    float: right;
    padding-left: 20px;
    padding-right: 20px;
}

.results-page .table{
    font-size: 20px;
}

.results-page table > *:first-child:not(thead) td:first-child {
  font-weight: bold;
}