/*
---------------------------------------------
Search Page Style
--------------------------------------------- 
*/

.search-page {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 60px;
}

.search-page .title{
    font-size: 65px;
}

#search-form .form-control {
  padding: 10px;
  border: 2px solid green;
  border-left: none;
  border-right: none;
  background-color: white;
}

#search-form .dropdown-menu{
  text-align: center;
  text-decoration: none;
  margin-top: -1px;
  border: 2px solid green;
  border-top: none;
}

#search-form .dropdown-menu a{
  text-align: center;
  color: green;
  font-weight: bold;
  text-decoration: none;
}

#search-form input::placeholder {
  color: grey;
  font-size: 15px;
}

.input-group button {
  border: 2px solid green;
  background-color: white;
  padding: 10px;
}

#search-form .search-button{
  width: 150px;
  padding: 11px 20px 11px 20px;
}

.search-page .map {
    margin-top: 30px;
    width: 100%;
    height: 300px;
    background: url(../images/sample-map.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 767px) {

    .search-page{
      padding-top: 40px;
    }

    .search-page .title{
      margin-top: 5px;
      font-size: 35px;
    }
    .search-page .tag-line{
      margin-top: 30px;
      font-size: 15px;
    }
    
    #search-form #search-address{
      width: 30%;
    }

    #search-form .form-control{
      border: 2px solid green;
      width: 70%;
    }
}