.single-result-page{
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    min-height: 400px;
    margin-bottom: 90px;
    padding-bottom: 20px;
    clear: both;
}

.single-result-page .title{
    font-size: 45px;
}

.image-container{
    margin-top: 20px;
}

.street-image img, .street-location img {
    height: 350px;
}

.info{
    margin-top: 20px;
}

.info table td:first-child{
    font-weight: bold;
}

.review {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .single-result-page{
        width: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .image-container{
        justify-content: center;
    }

    .review{
        margin-bottom: 50px;
    }

    .single-result-page .title{
        font-size: 25px;
    }

    .street-image img, .street-location img {
        width: 300px !important;
        height: 250px;
    }

    
}

.video-container{
    margin-top: 20px;
    
}