.submission-page{
    margin-top: 150px;
    margin-bottom: 90px;
    min-height: 400px;
    padding-left: 70px;
    padding-right: 70px;
}

@media (max-width: 767px) {
    .submission-page{
        margin-top: 70px;
        margin-bottom: 70px;
    }
}
